body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #283c86;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #45a247, #283c86); /*  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7*/

    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1.4rem;
}

a {
    margin: 10px;
    text-decoration: none;
    padding: 8px;
}

 .tabs .active {
    background-color: blue;
    color: white;
    border-radius: 6px;
}

.content .active p {
    width: 600px;
    font-size: 20px;
}

